<!DOCTYPE html>
<html>

<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' type='text/css' href='/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Coiny|Montserrat" rel="stylesheet">
</head>

<body>
  <div id='header'>
  eat pizza
  </div>
  <nav>
    <ul>
      <li>
        <a href='/pizzas'>Pizza Orders</a>
      </li>
      <li>
        <a href='/pizzas/new'>New Pizza</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>